*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
section{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
section #bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(bg4.jpg);
    background-size: calc(100% + var(--x)/2);
    background-position: center;

}

section h2{
    position: absolute;
    top: 50%;
    width: 100%;
    color: #fff;
    font-size: 8em;
    z-index: 1000;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transform: translate(calc(100% - var(--x) * 2), -50%);
}